
body {
    font-family: Arial, sans-serif;
    background-color: #fafad9;
    color: #c5c5c5;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

h2 {
    font-size: 24px;
    color: #ffe9af;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-container {
    width: 50%;
    padding: 20px;
    text-align: left;
}

.image-container {
    width: 50%;
    padding: 20px;
}

.image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e7b115;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #45a049;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #BEDAF3;
    color: white;
}

.logo-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #cdf3ff;
    color: #38a4d6;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.welcome-text {
    text-align: center;
    padding: 20px;
    background-color: #d0e1f5;
}

.welcome-text h2 {
    font-size: 1.8em;
    color: #008ca8;
}

.welcome-text p {
    font-size: 1.1em;
    margin-top: 10px;
    color: #008ca8;
}
